@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';

$z-index-min: 0;
$z-index-for-active-section: $z-index-min + 11;

//**************************************************************************
// This file contains all mixins.
//**************************************************************************

$border-width: 0.125rem;

@mixin block-toolbar() {
    @include block-editor-toolbar();
    z-index: $z-index-min + 3;
}

@mixin block-editor-toolbar() {
    position: absolute;
    top: calc(50%);
    left: 50%;
    width: 95%;
    max-width: 240px;
    transform: translate(-50%, -50%);
}

@mixin gap-sizes() {
    &.gap-none { 
        gap: 0; /* none*/
    }

    &.gap-sm {
        gap: variables.$spacing-sm; // 0.5rem
    }

    &.gap-md {
        gap: variables.$spacing-lg; // 1rem
    }

    &.gap-lg {
        gap: variables.$spacing-2xl; // 2rem
    }
}

@mixin solid-border($property, $border-width, $color) {
    #{$property}: $border-width solid $color;
}

@mixin dash-border($property, $border-width, $color) {
    #{$property}: $border-width dashed $color;
}

@mixin editor-container() {
    overflow: inherit;
    display: inherit;
    flex-direction: inherit;
    gap: variables.$spacing-lg;
    
    .group-buttons-container {
        .toggle-buttons {
            width: 100%;
        }
    }

    pep-checkbox,
    pep-color,
    pep-select,
    pep-textarea, 
    pep-textbox {
        margin-bottom: 0 !important;
    }
}