$z-index-min: 0;

//**************************************************************************
// This file contains all mixins.
//**************************************************************************

$border-width: 0.125rem;

@mixin block-toolbar() {
    @include block-editor-toolbar();
    z-index: $z-index-min + 2;
}

@mixin block-editor-toolbar() {
    position: absolute;
    top: calc(50%);
    left: 50%;
    width: 95%;
    max-width: 240px;
    transform: translate(-50%, -50%);
}

@mixin gap-sizes() {
    &.gap-NONE { 
        gap: 0; /* none*/
    }

    &.gap-SM {
        gap: 0.5rem;
    }

    &.gap-MD {
        gap: 1rem;
    }

    &.gap-LG {
        gap: 2rem;
    }
}

@mixin solid-border($property, $border-width, $color) {
    #{$property}: $border-width solid $color;
}

@mixin dash-border($property, $border-width, $color) {
    #{$property}: $border-width dashed $color;
}
