// Define pepperi lib theme and include theme styles for pepperi components.
@import '~@pepperi-addons/ngx-lib/theming';
// @import 'ngx-lib/theming';
@include pepperi-theme();

// Get the theme object.
$pepperi-theme: get-pepperi-theme();

@import './app/app.component.theme.scss';
@import './app/components/page-manager/page-manager.component.theme.scss';
@import './app/components/section/section.component.theme.scss';
@import './app/components/section-block/section-block.component.theme.scss';
// @import './app/components/toolbar/toolbar.component.theme.scss';
@import './app/components/hide-in/hide-in.component.theme.scss';

body {
    @include addon-theme($pepperi-theme);

    @include page-manager-component-theme($pepperi-theme);
    @include section-component-theme($pepperi-theme);
    @include section-block-component-theme($pepperi-theme);
    // @include toolbar-component-theme($pepperi-theme);
    @include hide-in-component-theme($pepperi-theme);
}

// set mat tab as fixed tab just on the editors
.editor-tabs {
    .mat-tab-header {
        display: block;
        width: 224px;
        height: $tabs-labels-height;
        z-index: 2;
        
        .mat-tab-label-container {
            position: fixed;
            width: inherit;
            opacity: 1;
            background: #fff;
        }
    }
}


