<div class="section-editor-container">
    <pep-textbox [(value)]="sectionName" label="Section Name (kebab-case)"></pep-textbox>

    <pep-checkbox [(value)]="subSections" label="Sub Section" [renderTitle]="false"></pep-checkbox>

    <pep-select label="Sections" [value]="partsNumber" [options]="partsNumberOptions" (valueChange)="onPartsNumberChange($event)" [emptyOption]="false" [disabled]="!subSections"></pep-select>
    <pep-select label="Split" [value]="split" [options]="splitOptions" (valueChange)="onSplitChange($event)" [emptyOption]="false" [disabled]="!subSections"></pep-select>
</div>
