<div class="section-editor-container">
    <pep-textbox [value]="sectionName" [label]="'PAGE_MANAGER.SECTION_NAME_TITLE' | translate" (valueChange)="onSectionNameChange($event)"></pep-textbox>

    <!-- <pep-checkbox class="checkbox-as-title" [value]="isAutoHeight" [label]="'PAGE_MANAGER.AUTO_HEIGHT_TITLE' | translate" [renderTitle]="false" (valueChange)="isAutoHeightChange($event)"></pep-checkbox>
    <pep-textbox [label]="'PAGE_MANAGER.HEIGHT_TITLE' | translate" type="int" [minValue]="MIN_HEIGHT" [disabled]="isAutoHeight" [value]="height" (valueChange)="onHeightChange($event)"></pep-textbox> -->

    <pep-checkbox class="checkbox-as-title" [value]="subSections" [label]="'PAGE_MANAGER.SUB_SECTION_TITLE' | translate" [renderTitle]="false" (valueChange)="onSubSectionsChange($event)"></pep-checkbox>

    <div class="split-area">
        <pep-select [label]="'PAGE_MANAGER.SECTIONS_TITLE' | translate" [value]="partsNumber" [options]="partsNumberOptions" 
            (valueChange)="onPartsNumberChange($event)" [emptyOption]="false" [disabled]="!subSections"></pep-select>
        <pep-select [label]="'PAGE_MANAGER.SPLIT_TITLE' | translate" [value]="split" [options]="splitOptions"
            (valueChange)="onSplitChange($event)" [emptyOption]="false" [disabled]="!subSections"></pep-select>
    </div>
</div>
