@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';

.section-editor-container {
    padding-top: variables.$content-padding;

    .split-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: variables.$content-margin;
    }

    .no-margin-bottom {
        margin-bottom: 0;
    }
}