<pep-page-layout>
    <ng-container pep-top-area>
        <pep-top-bar class="main-top-header" [title]="!isAddNewPage ? ('PAGES_MANAGER.MAIN_HEADER' | translate) : ''">
            <div header-start-content>
                <div *ngIf="isAddNewPage" header-end-content>
                    <pep-button  class="back-button pull-left flip pep-spacing-element" iconName="arrow_left_alt" (buttonClick)="navigateBackToMainPage();"></pep-button>
                    <div class="main-header pep-spacing-element title title-lg pull-left flip"><span  title="Select a Page">{{'PAGES_MANAGER.ADDNEW_HEADER' | translate}}</span></div>
                </div>
            </div>
            <!-- <div header-end-content>
                <pep-menu class="pep-spacing-element " [items]="mainMenuItems" (menuItemClick)="onMenuItemClicked($event)">
                </pep-menu>
            </div> -->
        </pep-top-bar>

    </ng-container>

    <ng-container pep-main-area>
        <ng-container *ngIf="!isAddNewPage; then mainBlock; else addNewBlock"></ng-container>
 </ng-container>
</pep-page-layout>


<ng-template #mainBlock>
    <div class="add-on-width">
        <div class="pageExplanation">
            <span class="body-md">{{ 'PAGES_MANAGER.MAIN_EXPLANATION' | translate }}</span>
        </div>
        <pep-generic-list *ngIf="hasPages" [dataSource]="pagesDataSource" [actions]="actions" [inline]="true" [showTopBar]="true" [showSearch]="true"
                [supportSorting]="true" [uuidMapping]="'Key'" [title]="'PAGES_MANAGER.SECONDARY_HEADER' | translate" (fieldClick)="onCustomizeFieldClick($event)"> 
            <ng-container right-buttons >
                <ng-container *ngTemplateOutlet="topBarEnd"></ng-container>
            </ng-container>
        </pep-generic-list>
        <ng-container *ngIf="!hasPages">
            <pep-top-bar class="main-top-header" [inline]="true">
                <div header-end-content>
                    <ng-container *ngTemplateOutlet="topBarEnd"></ng-container>
                </div>
            </pep-top-bar>
            <div class="PagesNotFoundMsg">
                    <div class="leaf-background">
                        <img [src]="imagesPath + 'brand-leaf-skiny.svg'">
                        <img [src]="imagesPath + 'brand-leaf-round.svg'">
                    </div>
                    <h2>{{ "PAGES_MANAGER.PAGES_HEADER" | translate}}</h2>
                    <span>{{ "PAGES_MANAGER.NO_PAGES_MSG" | translate}}</span>
            </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #topBarEnd>
    <pep-menu class="pep-spacing-element" [items]="[{key: 'import', text: 'ACTIONS.IMPORT' | translate }]" [sizeType]="'sm'" (menuItemClick)="onMenuItemClicked($event)">
    </pep-menu>
    <pep-button class="pep-spacing-element" [value]="'PAGES_MANAGER.A_PAGE' | translate" [sizeType]="'sm'" [styleType]="'strong'" (buttonClick)="addNewPage();">
    </pep-button>
</ng-template>

<ng-template #addNewBlock>
    <div class="add-on-width">
    <div class="pageExplanation">
        <span class="body-md">{{ 'PAGES_MANAGER.ADDNEW_EXPLANATION' | translate }}</span>
        <div>
            <p><label class="body-xs ellipsis">{{ 'PAGES_MANAGER.LINKS_HEADER' | translate }}</label></p>
            <p><label class="color-link body-sm ellipsis" (click)="openLink('Using')">{{ 'PAGES_MANAGER.LINKS_USING' | translate }}</label></p>
            <p><label class="color-link body-sm ellipsis" (click)="openLink('Importing')">{{ 'PAGES_MANAGER.LINKS_IMPORTING' | translate }}</label></p>
            <p><label class="color-link body-sm ellipsis" (click)="openLink('Save')">{{ 'PAGES_MANAGER.LINKS_SAVE' | translate }}</label></p>
            <p><label class="color-link body-sm ellipsis" (click)="openLink('Publish')">{{ 'PAGES_MANAGER.LINKS_PUBLISH' | translate }}</label></p>
            <p><label class="color-link body-sm ellipsis" (click)="openLink('Export')">{{ 'PAGES_MANAGER.LINKS_EXPORT' | translate }}</label></p>
        </div>
    </div>
    <mat-accordion class="pep-accordion" [multi]="'true'">
        <mat-expansion-panel *ngFor="let group of pageGroups" [expanded]="group.isExpanded">
          <mat-expansion-panel-header>
            <mat-panel-title class="title title-md">
                {{group.title | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div class="page-cube pull-left flip" *ngFor="let tmpPage of  group.pages">
                <div class="page-cube-inner" (click)="createTemplatePage(tmpPage)">
                    <div class="logo">{{tmpPage.name | translate}}</div>
                    <div class="activeTemplate">{{'PAGES_MANAGER.USE_THIS' | translate}}</div>
                </div>
                <div class="body-xs">{{tmpPage.description | translate}}</div>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
      </div>
</ng-template>





