@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '../../../mixins.scss';

.pageExplanation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: variables.$spacing-lg 0 1.25rem 0;

    span{
        max-width: 34rem;
        display: block;
    }
    div{
        p{
            line-height: 1.25rem !important;
            height: 1.25rem;
            margin: 0;

            label{
                font-size: 14px;
                letter-spacing: 0.12px;
                margin: 0;
                font-weight:normal;

                &.color-link{
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.main-top-header{
    .back-button {
        margin-inline-end: variables.$spacing-sm;
    }
    .main-header{
        line-height: 2.5rem !important;
    }
}

.add-on-width {
    max-width: 65rem;
    display: flex;
    height: inherit;
    flex-direction: column;

    .PagesNotFoundMsg{
        height: 20rem;
        padding: 0 4rem;
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #eee;
        position: relative;

        .leaf-background{
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            z-index: mixins.$z-index-min;

            img{
                width: 50%;

                &:first-of-type{
                    transform: rotate(-40deg);
                    height: 180% !important;
                    margin-top: -4rem;
                    margin-inline-start: -2rem;
                }
                &:last-of-type{
                    transform: rotate(55deg);
                    height: 130%;
                    margin-inline-end: -2rem;
                    margin-top: -4rem;
                }
            }
        }

        h2,
        span{
            z-index: mixins.$z-index-min + 1;
        }
    }

    .mat-expansion-panel{
        max-width: 34rem;

        ::ng-deep .mat-expansion-panel-body{
                    padding-top: variables.$spacing-lg;
                    display: flex;
                    gap: variables.$spacing-lg;

                    .page-cube{
                        height: 8rem;
                        width:7.75rem;
                        margin-bottom: variables.$spacing-lg;

                        .page-cube-inner{
                            height: 4.5rem;
                            margin-bottom: variables.$spacing-sm;
                            border: 1px solid rgb(153, 153, 153);
                            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
                            0px 2px 4px 0px rgba(0, 0, 0, 0.04),
                            0px 4px 8px 0px rgba(0, 0, 0, 0.04);
                            border-radius: variables.$border-radius-md;
                            position: relative;
                            overflow: hidden;
                            cursor: pointer;

                            &:hover{
                                .activeTemplate {
                                    bottom: 0 !important;
                                }
                            }

                            .logo{
                                color: rgb(0, 0, 0);
                                font-size: 18px;
                                font-family: Permanent Marker;
                                font-weight: normal;
                                text-align: center;
                                letter-spacing: 0.15px;
                                position: absolute;
                                background-color: #fff;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                            .activeTemplate {
                                color: #fff;
                                width: 100%;
                                height: 2rem;
                                position: absolute;
                                bottom: -2rem;
                                background-color: #000;
                                opacity: 0.8;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                text-align: center;

                                -webkit-transition: all 0.25s;
                                -moz-transition: all 0.25s;
                                transition: all 0.25s;
                            }
                        }



                    }
                }
    }
}

::ng-deep .total-items-container{
    height: 2.5rem !important;
}
