@use '../../../mixins.scss';

:host {
    display: block;
    //fill height task
    height: 100%;
}

.sections-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    // fill height task start
    height: inherit;
    // fill height task - end
    &.mobile {
        display: block;
    }

    @include mixins.gap-sizes();
    
    .draggable-section {
        display: block;
    }
}