@mixin addon-theme($pepperi-theme) {
    body{
        background-color: Red !important;
    }
    .section-edit {
        color: Red;
        border: 1px solid Red;
        background-color: get-pep-color($pepperi-theme, color-system-primary-invert, color-base);
    }
}
