@import '../../../mixins.scss';

:host {
    display: block;
}

.sections-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;

    @include gap-sizes();
    
    .draggable-section {
        display: block;
    }
}

.add-section-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    ::ng-deep .button-title-with-icon {
        max-width: unset;
    }
}