<!-- <pep-section
        [numOfBlocks]="6"
        [editable]="editable">
</pep-section>
<pep-section
        [numOfBlocks]="2"
        [editable]="editable">
</pep-section> -->


<div class="page-builder-container" cdkDropListGroup>
    <div class="top-area">
        <div id="top-area-left">
            <span>{{('ViewportWidth' | translate) + ': ' + viewportWidth}}</span>
        </div>
        <div id="top-area-center">
            <pep-group-buttons sizeType="sm"  [buttons]="groupButtons" [buttonsClass]="'md regular'" [buttonsDisabled]="false"
            [viewType]="'regular'" >
            </pep-group-buttons>
        </div>

        <div id="top-area-right">
            <pep-checkbox
                    class="pep-spacing-element"
                    [value]="true"
                    [label]="'Preview'"
                    type="checkbox"
                    [mandatory]="false"
                    [disabled]="false"
                    xAlignment="left"

                    [visible]="true"
                    (valueChange)="changeQueryParam($event)"
            ></pep-checkbox>
            <pep-button [value]="'Publish' | translate" [sizeType]="'md'" [styleType]="'strong'" (buttonClick)="publishPage();">
            </pep-button>
        </div>



    </div>


    <div cdkDropList  cdkDropListOrientation="horizontal" id="{{'section-' + (i+1)}}"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="section"
        (cdkDropListEntered)="entered()"
        (cdkDropListExited)="exited($event)"
        [ngClass]="{'editable': editable}"
        #htmlSections class="flex-container"
         *ngFor="let section of sectionsSubject$ | async as sections; let i=index;">
                <pep-button *ngIf="editable" [classNames]="" [sizeType]="'sm'"
                    [iconName]="'system_close'" (buttonClick)="remove(sections, i);">
                </pep-button>


            <div #htmlBlocks cdkDrag [cdkDragDisabled]="!editable" [cdkDragData]="block"
               [ngClass]="{'editable': editable}"
               cdkDragBoundary=".page-builder-container"
               class="flex-item" *ngFor="let block of section; let i=index;">
                   <pep-button  *ngIf="editable" [classNames]="'remove-addon '"
                        styleType="strong" styleStateType="caution" sizeType="sm"
                       [iconName]="'system_close'" (buttonClick)="remove(section, i);">
                   </pep-button>
                   <addon-proxy *ngIf="block" [hostObject]="block" (hostEvents)="onAddonChange($event);">
                   </addon-proxy>
            </div>

    </div>

    <br>
    <pep-button *ngIf="editable" [value]="'Add Section'" class="add-section-button"
        [iconName]="'number_plus'" (buttonClick)="addSection($event)" [classNames]="'pep-spacing-element '" >
    </pep-button>

</div>


