.sections-container {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .draggable-section {
        display: block;
    }
}

.add-section-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    ::ng-deep .button-title-with-icon {
        max-width: unset;
    }
}