@mixin page-manager-component-theme($pepperi-theme) {
    .main-area-container {
        background: get-pep-color($pepperi-theme, color-system-primary, color-tran-10);

        .header-container {
            background: get-pep-color($pepperi-theme, color-system-primary-invert, color-base);
            box-shadow: get-pep-shadow($pepperi-theme, shadow-sm, regular);

            .header-title {
                color: get-pep-color($pepperi-theme, color-text, color-dimmed);
            }
        }

        .header-container-preview {
            background-color: get-pep-color($pepperi-theme, color-text, color-caution);
        
            .preview-title {
                color: get-pep-color($pepperi-theme, color-text, color-invert);

                .color-link {
                    color: get-pep-color($pepperi-theme, color-text, color-invert);
                }
            }
        }

        .page-builder-wrapper {
            background: get-pep-color($pepperi-theme, color-system-primary-invert, color-base);
            box-shadow: get-pep-shadow($pepperi-theme, shadow-md, regular);

            .backdrop {
                background: get-pep-color($pepperi-theme, color-system-primary, color-tran-70);
            }
        }
    }
}