@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '../../../mixins.scss';

// set mat tab as fixed tab just on the editors
::ng-deep {
    .page-builder-editor-tabs {
        height: 100%;

        .mat-tab-header {
            position: sticky;
            top: variables.$top-bar-height;
            z-index: 2;
        }

        .mat-tab-header-pagination {
            display: none;
        }

        .mat-tab-labels {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .mat-tab-label {
                padding: 0 variables.$spacing-md !important;
            }
        }

        .mat-tab-body-wrapper {
            overflow: unset;
            margin: 0;
            display: block;

            .mat-tab-body {
                &.mat-tab-body-active {
                    overflow: unset;

                    .mat-tab-body-content {
                        overflow: unset;
                        display: flex;
                        flex-direction: column;
                        padding-inline: 0 !important;
                    }
                }
            }
        }

        .page-builder-editor-tab {
            overflow: inherit;
            display: inherit;
            flex-direction: inherit;
            gap: variables.$spacing-lg;
            
            .group-buttons-container {
                .toggle-buttons {
                    width: 100%;
                }
            }

            pep-checkbox,
            pep-select,
            pep-textarea, 
            pep-textbox {
                margin-bottom: 0 !important;
            }
        }
    }
}

.side-bar-title {
    display: flex;
    padding-top: variables.$spacing-sm;

    .back-button {
        margin-inline-end: variables.$spacing-sm;
    }
}

.main-area-container {
    height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    .header-container {
        display: flex;
        position: sticky;
        top: 0;
        z-index: variables.$z-index-medium;
        height: 3rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 variables.$spacing-sm;

        .header-group-btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .header-end {
            display: flex;
            justify-content: flex-end;
        }

        ::ng-deep .group-buttons-container {
            .toggle-buttons {
                width: 16rem;
            }
        }
        .size-limit-container {
            border-radius: variables.$border-radius-md;
        }
    }

    .page-builder-wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;

        &.limit-min-width {
            min-width: 800px;
        }
        
        .backdrop {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: mixins.$z-index-min + 10;
            display: none;
        
            &.show-backdrop {
                display: block;
            }
        }
    }

}