@import 'ngx-lib/src/core/style/abstracts/variables';
@import '../../../mixins.scss';

.side-bar-title {
    display: flex;
    padding-top: 0.5rem;

    .back-button {
        margin-inline-end: 0.5rem;
    }
}

.main-area-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    .header-container {
        display: flex;
        position: sticky;
        top: 0;
        z-index: $z-index-medium;
        height: 3rem;
        align-items: center;
        justify-content: space-between;
        padding: 0 .5rem;

        .header-content {
            flex: 1 1 0px;
        }

        .header-group-btn {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .header-end {
            display: flex;
            justify-content: flex-end;
        }
    }

    .page-builder-wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;

        &.limit-min-width {
            min-width: 800px;
        }
        
        &.desktop {
            // ::ng-deep :not(.editable-state) {
            //     &.hidden-state {
            //         display: none;
            //     }
            // }
        }

        &.tablet {
            // ::ng-deep :not(.editable-state) {
            //     &.hidden-state {
            //         display: none;
            //     }
            // }
        }

        &.mobile {
            // ::ng-deep :not(.editable-state) {
            //     &.hidden-state {
            //         display: none;
            //     }
            // }
        }
        
        .backdrop {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: $z-index-min + 10;
            display: none;
        
            &.show-backdrop {
                display: block;
            }
        }
    }

}