<div *ngIf="lockScreen" class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing"></div>

<pep-page-layout [showShadow]="showEditor && currentEditor" >
    <div pep-side-area *ngIf="showEditor && currentEditor" style="padding-inline-start: 1rem; height: inherit;">
        <pep-side-bar #sideBar [ignoreResize]="true" (stateChange)="onSidebarStateChange($event)">
            <div header-content class="side-bar-title">
                <pep-button class="back-button" sizeType="sm" iconName="arrow_left_alt" (buttonClick)="onNavigateBackFromEditor();"></pep-button>
                <div class=" title-xl ellipsis" [title]="currentEditor?.title">
                    <span>{{ currentEditor?.title }}</span>
                </div>
            </div>
            <page-builder-editor *ngIf="currentEditor?.type === 'page-builder'" [sectionsColumnsDropList]="sectionsColumnsDropList"
                [hostObject]="currentEditor?.hostObject" (hostObjectChange)="onPageEditorObjectChange($event)"></page-builder-editor>
        
            <section-editor *ngIf="currentEditor?.type === 'section'" 
                [hostObject]="currentEditor?.hostObject" (hostObjectChange)="onSectionEditorObjectChange($event)"></section-editor>
        
            <pep-remote-loader *ngIf="currentEditor?.type === 'block'" [options]="currentEditor?.remoteModuleOptions" 
                [hostObject]="currentEditor?.hostObject" (hostEvents)="onBlockEditorHostEvents($event);"></pep-remote-loader>
            <!-- <pep-plugin-proxy *ngIf="currentEditor?.type === 'block'" [options]="currentEditor?.remoteModuleOptions" 
                [hostObject]="currentEditor?.hostObject" (hostEvents)="onBlockEditorHostEvents($event);"></pep-plugin-proxy> -->
        </pep-side-bar>
    </div>
    <ng-container pep-main-area>
        <div class="main-area-container">
            <div class="header-container" [ngClass]="{'header-container-preview': !showEditor }">
                <ng-container *ngIf="showEditor; then editorTitleTemplate; else previewTitleTemplate"></ng-container>
                <ng-template #editorTitleTemplate>
                    <div>
                        <span class="header-title body-xs">{{('PAGE_MANAGER.VIEWPORT_WIDTH' | translate)}}:&nbsp;</span>
                        <span class="body-xs"><b>{{viewportWidth}}</b></span>
                    </div>
                </ng-template>
                <ng-template #previewTitleTemplate>
                    <div class="preview-title body-sm">
                        <span>{{('PAGE_MANAGER.PREVIEW_TITLE' | translate)}}</span>
                    </div>
                </ng-template>

                <div class="header-group-btn">
                    <pep-group-buttons [buttons]="screenTypes" [selectedButtonKey]="selectedScreenType" sizeType="sm" viewType="toggle" >
                    </pep-group-buttons>
                </div>

                <ng-container *ngIf="showEditor; then editorButtonsTemplate; else previewButtonsTemplate"></ng-container>
                <ng-template #editorButtonsTemplate>
                    <div class="header-end">
                        <div *ngIf="pageSizeLimitInPercentage > MIN_PERCENTAGE_TO_SHOW_LIMIT" class="size-limit-container pep-button sm disable pep-spacing-element">
                            <span class="title-xs">{{ 'MESSAGES.PAGE_SIZE_LIMIT_TITLE' | translate }}&nbsp;</span>
                            <span class="title-sm color-caution bold">{{ pageSizeString }}</span>
                        </div>
                        <pep-menu sizeType="sm" classNames="pep-spacing-element" [items]="menuItems" (menuItemClick)="onMenuItemClick($event)" [disabled]="isOverPageSizeLimit"></pep-menu>
                        <pep-button key='Preview' [value]="'ACTIONS.PREVIEW' | translate" sizeType="sm" classNames="pep-spacing-element" (buttonClick)="togglePreviewMode()" [disabled]="isOverPageSizeLimit"></pep-button>
                        <pep-button key='Save' [value]="'ACTIONS.SAVE' | translate" sizeType="sm" classNames="pep-spacing-element" (buttonClick)="onSaveClick()" [disabled]="isOverPageSizeLimit"></pep-button>
                        <pep-button key='Publish' [value]="'ACTIONS.PUBLISH' | translate" sizeType="sm" classNames="pep-spacing-element" styleType="strong" (buttonClick)="onPublishClick();" [disabled]="isOverPageSizeLimit">
                        </pep-button>
                    </div>
                </ng-template>
                <ng-template #previewButtonsTemplate>
                    <a class="color-link body-sm" (click)="togglePreviewMode()" href="javascript:void(0)">{{('PAGE_MANAGER.PREVIEW_CLICK_HERE' | translate)}}</a>    
                </ng-template>
            </div>
            <div #pageBuilderWrapper class="page-builder-wrapper" [ngClass]="{'limit-min-width': selectedScreenType === 'Landscape' }">
                <!-- [selectedScreenType]="selectedScreenType"  -->
                <page-builder-internal [editMode]="showEditor" [screenSize]="screenSize" [sectionsColumnsDropList]="sectionsColumnsDropList"></page-builder-internal>
                <div *ngIf="showEditor" class="backdrop" [ngClass]="{'show-backdrop': currentEditor?.type === 'section' || currentEditor?.type === 'block'}"></div>
            </div>
        </div>
    </ng-container>
</pep-page-layout>
