<div class="page-builder-container" cdkDropListGroup>
    <pep-button value="Add block" styleType="strong" sizeType="xs" [disabled]="false"
        iconName="number_plus" iconPosition="end" (buttonClick)="addBlock($event)"></pep-button>
    <div #htmlSections class="flex-container" [ngClass]="{'editable': editable}" 
        cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">

        <div #htmlBlocks *ngFor="let block of sectionBlockArray" class="flex-item" cdkDrag cdkDragBoundary=".page-builder-container">
            <pep-button sizeType="xs" [disabled]="!editable" iconName="system_close" iconPosition="end" (buttonClick)="removeBlock(block.id)"></pep-button>
            {{block.index}}
            <img src="https://idpfiles.sandbox.pepperi.com/f389fd2e-4a31-4965-a21e-3a98b4553300/images/logo.svg">
        </div>
    </div>
</div>
