@import 'ngx-lib/src/core/style/abstracts/variables';
@import 'ngx-lib/src/core/style/abstracts/mixins';
@import '../../../mixins.scss';

$z-index-min: 0;
$z-index-toolbar: $z-index-min + 2;

@mixin block-toolbar() {
    @include block-editor-toolbar();
    z-index: $z-index-toolbar;
}

.section-container {
    position: relative;
    display: grid;
    border-radius: $border-radius-md;
    min-height: 250px;
    
    .columns-wrapper {
        display: grid;
        grid-auto-flow: column;
    }
    
    // This css is only for edit mode.
    &.editable-state {
    
        &.active-section {
            z-index: $z-index-min + 11;
        }

        .section-toolbar {
            position: absolute;
            top: -1px;
            left: -1px;
            width: calc(100% + 2px);
            z-index: $z-index-toolbar;
        }

        .section-background {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: $z-index-min;

            .back-template {
                width: 8.3333%;
                height: 100%;
                background-color: #BEC3E5;
                opacity: 0.1;
                border-right: 2px dashed #000;
                float: left;

                &:last-of-type {
                    border-right: 0 none;
                }
            }
        }

        .columns-wrapper {
            .section-column {
                z-index: $z-index-min + 1;
                border: 2px dashed #000;
                position: relative;

                // Remove the border for no dupplicate.
                &:not(&:last-of-type) {
                    &.horizontal {
                        border-right: unset;
                    }

                    &.vertical {
                        border-bottom: unset;
                    }
                }

                &.active-column {
                    z-index: $z-index-min + 12;
                    position: relative;
                    background: white;

                    .block-editable-state {
                        opacity: 1;
                    }
                }

                .section-column-block {
                    .block-editable-state {
                        pointer-events: none;
                        opacity: 0.5;
                    }
                    
                    .block-toolbar {
                        @include block-toolbar();
                    }
                }
            }
        }
    }
}

.cdk-drag-preview {
    pointer-events: none;
    opacity: 0.5;

    .block-toolbar {
        @include block-toolbar();
    }
}

// .cdk-drag-placeholder {
//     opacity: 0.5;
// }