@import '../../../mixins.scss';

.section-block-container {
    height: 100%;
    width: 100%;

    // This css is only for edit mode!!!
    &.editable-state {
        &:not(.active-block) {
            .remote-loader-wrapper {
                .remote-loader {
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
        }
        
        // Hide the block content on the preview when dragging the block.
        &.cdk-drag-preview {
            .remote-loader-wrapper {
                opacity: 0;
            }
        }
        
        // Hide the block toolbar on the placeholder when dragging the block.
        &.cdk-drag-placeholder {
            .block-toolbar {
                opacity: 0;
            }
        }

        .block-toolbar {
            @include block-toolbar();
        }
    }  
    
    .remote-loader-wrapper {
        height: 100%;
        position: relative;
        
        .remote-loader {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}
