<div *ngIf="pageBlock && (editable || !hideForCurrentScreenType)" 
    class="section-block-container"
    [ngClass]="{ 'editable-state': editable, 'block-hidden-state': hideForCurrentScreenType, 'active-block': active }"
    cdkDrag [cdkDragData]="blockContainer" [cdkDragDisabled]="!editable || !isMainEditorState" 
    (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)"
    (cdkDragExited)="onDragExited($event)" (cdkDragEntered)="onDragEntered($event)">
   
    <pep-draggable-item *ngIf="editable && isMainEditorState" cdkDragHandle style="cursor: grab;"
        class="block-toolbar" [title]="pageBlock.Relation?.Name" >
        <ng-container pep-actions>
            <pep-button classNames="caution" sizeType="xs" iconName="system_bin" (buttonClick)="onRemoveBlockClick();"></pep-button>
            <hide-in [hideIn]="blockContainer.Hide" (hideInChange)="onHideBlockChange($event)"></hide-in>
            <pep-button sizeType="xs" iconName="system_edit" (buttonClick)="onEditBlockClick();"></pep-button>
        </ng-container>
    </pep-draggable-item>
    <div class="remote-loader-wrapper" [ngStyle]="{ 'overflow': editable ? 'hidden' : (sectionHeight === 'unset' ? 'unset' : 'auto') }">
        <pep-remote-loader class="remote-loader"
            [options]="remotePathOptions"
            [hostObject]="hostObject"
            (hostEvents)="onBlockHostEvents($event);"
            (load)="onBlockLoad($event)">
        </pep-remote-loader>
        <!-- <pep-plugin-proxy class="remote-loader"
            [options]="remotePathOptions"
            [hostObject]="hostObject"
            (hostEvents)="onBlockHostEvents($event);"
            (load)="onBlockLoad($event)">
        </pep-plugin-proxy> -->
    </div>
</div>
