@import 'ngx-lib/src/core/style/abstracts/mixins';
@import 'ngx-lib/src/core/style/abstracts/variables';

:host{
    height: inherit;

    .addon-page-container{
        height: inherit;
        display: flex;
        flex-direction: column;

        // .main-content{
        //     height: inherit;

            // .content{
            //     height: inherit;

                #listContainer{
                    height: inherit;
                }
            // }
        // }
    }
}

