<div #mainSlideCont *ngIf="showSlide"
     class="ng-component-container" 
     [ngStyle]="{'height': slideshowConfig.height + slideshowConfig.heightUnit,
                 'background': 'linear-gradient(to right ' +',' + slide?.gradientOverlay?.color + ',' + '#fff '  + slide?.gradientOverlay?.opacity  +'%'}"  
     [ngClass]="['horAlign_'+slide?.horizontalAlign, 
                 'verAlign_'+slide?.verticalAlign]">
    <pep-page-layout>
        <ng-container pep-main-area>
            <div class="slide-box" [ngClass]="['contentWidth_'+slide?.contentWidth, 'horAlign_'+slide?.horizontalAlign, 'verAlign_'+slide?.verticalAlign, 'textColor_'+slide?.textColor, 'rowGap_'+slide?.innerSpacing]" >
                <div>
                    <label class="body-sm ellipsis" *ngIf="slide?.useTitle" [ngClass]="'size_'+slide?.titleSize">{{slide?.titleContent}}</label>
                </div>
                <div>
                    <label class="body-sm ellipsis" *ngIf="slide?.useSubTitle" [ngClass]="'size_'+slide?.subTitleSize">{{slide?.subTitleContent}}</label>
                </div>
                <div class="buttons-box">
                    <pep-button *ngIf="slide?.firstButton.useButton" [sizeType]="slide?.buttonsSize" [value]="slide?.firstButton.label" [styleType]="slide?.firstButton.style" [styleStateType]="slide?.buttonsColor" (buttonClick)="onSlideButtonClicked('firstButton')"></pep-button>
                    <pep-button *ngIf="slide?.secondButton.useButton" [sizeType]="slide?.buttonsSize" [value]="slide?.secondButton.label" [styleType]="slide?.secondButton.style" [styleStateType]="slide?.buttonsColor"  (buttonClick)="onSlideButtonClicked('secondButton')"></pep-button>
                </div>
            </div>
        </ng-container>
    </pep-page-layout> 
</div>