@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins';
@use '~@pepperi-addons/ngx-lib/src/core/style/abstracts/functions';


.hide-in-menu {
    .mat-menu-item {
        &.title {
            color: functions.get-pep-color(color-text, color-dimmed);
        }

        &.splitter { 
            margin-inline: variables.$spacing-sm; 
        }
    }
}

.mat-menu-item {
    ::ng-deep.mat-checkbox-layout {
        .mat-checkbox-inner-container {
            margin-inline-end: 0.25rem !important;
        }
    }
}

.badge-button {
    @include mixins.pep-badge();

    &.none {
        ::ng-deep.mat-badge-content {
            display: none;
        }
    }

    ::ng-deep.mat-badge-content {
        z-index: 1;
        right: -4px !important;
    }
}