@import 'ngx-lib/src/core/style/abstracts/variables';

label {
    font-weight: $font-weight-normal;
}

.editor-tabs {
    height: 100%;

    .add-section-button {
        margin-bottom: 1rem;
    }

    ::ng-deep .mat-tab-header-pagination {
        display: none;
    }

    ::ng-deep .mat-tab-labels {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .mat-tab-label {
            padding: 0 .75rem !important;
        }
    }

    ::ng-deep .group-buttons-container {
        margin-bottom: 1rem;

        .toggle-buttons{
            width: 100%;
        }
    }

    ::ng-deep .mat-tab-body-wrapper {
        overflow: unset;
        margin: 0;
        display: block;

        .mat-tab-body {
            &.mat-tab-body-active {
                overflow: unset;

                .mat-tab-body-content {
                    overflow: unset;
                    display: flex;
                    flex-direction: column;
                    padding-inline: 0;

                    .available-block {
                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }
    
    .split-area {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 1rem;

        ::ng-deep pep-select {
            display: block;
            overflow: hidden;
        }
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

