<mat-tab-group  #tabGroup class="editor-tabs" animationDuration="0ms">
    <mat-tab label="{{'PAGE_MANAGER.GENERAL' | translate}}">
        <div class="general-container ">
            <pep-textbox [value]="pageName" [label]="'PAGE_MANAGER.PAGE_NAME_TITLE' | translate" (valueChange)="onPageNameChange($event)"></pep-textbox>
            <pep-textarea [value]="pageDescription" [label]="'PAGE_MANAGER.PAGE_DESCRIPTION_TITLE' | translate" rowSpan="2" (valueChange)="onPageDescriptionChange($event)"></pep-textarea>
            
            <label class="body-xl bold ellipsis">{{'PAGE_MANAGER.SECTIONS_TITLE' | translate}}</label>
            <pep-button class="add-section-button" value="{{'PAGE_MANAGER.ADD_SECTION' | translate}}" styleType="regular" iconName="number_plus" iconPosition="end"
                (buttonClick)="onAddSectionClick($event)"></pep-button>

            <label class="body-xl bold ellipsis">{{'PAGE_MANAGER.BLOCKS_TITLE' | translate}}</label>
            <div #availableBlocksContainer id="availableBlocks" class="available-blocks"
                cdkDropList
                [cdkDropListData]="availableBlocks"
                [cdkDropListConnectedTo]="sectionsColumnsDropList">

                <toolbar-actions *ngFor="let availableBlock of availableBlocks;" class="available-block"
                    [title]="availableBlock.relation?.Description" [showActions]="false" [isDraggable]="true"
                    cdkDrag style="cursor: grab;" [cdkDragData]="availableBlock" (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)" 
                    >
                </toolbar-actions>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{'PAGE_MANAGER.DESIGN' | translate}}">
        <div class="tab-container">
            <pep-checkbox [value]="isFullWidth" [label]="'PAGE_MANAGER.FULL_WIDTH_TITLE' | translate" [renderTitle]="false" (valueChange)="isFullWidthChange($event)"></pep-checkbox>
            <pep-textbox [label]="'PAGE_MANAGER.MAX_WIDTH_TITLE' | translate" type="int" [disabled]="isFullWidth" [value]="maxWidth" (valueChange)="onMaxWidthChange($event)"></pep-textbox>
            
            <!-- Spacing -->
            <label class="body-xl bold ellipsis">{{'PAGE_MANAGER.SPACING_TITLE' | translate}}</label><br>
            <label class="body-sm ellipsis">{{'PAGE_MANAGER.SPACING_HORIZONTAL_TITLE' | translate}}</label>
            <pep-group-buttons [buttons]="sizesGroupButtons" [selectedButtonKey]="horizontalSpacing" buttonsClass="md regular" viewType="toggle" stretch="true" 
                (buttonClick)="setColumnsHorizntalGap($event)"></pep-group-buttons>
            <label class="body-sm ellipsis">{{'PAGE_MANAGER.SPACING_VERTICAL_TITLE' | translate}}</label>
            <pep-group-buttons [buttons]="sizesGroupButtons" [selectedButtonKey]="verticalSpacing" buttonsClass="md regular" viewType="toggle" stretch="true" 
                (buttonClick)="setColumnsVerticalGap($event)"></pep-group-buttons>
            
            <!-- Gaps -->
            <label class="body-xl bold ellipsis">{{'PAGE_MANAGER.GAPS_TITLE' | translate}}</label><br>
            <label class="body-sm ellipsis">{{'PAGE_MANAGER.SECTIONS_GAP_TITLE' | translate}}</label>
            <pep-group-buttons [buttons]="sizesGroupButtons" [selectedButtonKey]="sectionsGap" buttonsClass="md regular" viewType="toggle" stretch="true" 
                (buttonClick)="setSectionGap($event)"></pep-group-buttons>
            <label class="body-sm ellipsis">{{'PAGE_MANAGER.COLUMNS_GAP_TITLE' | translate}}</label>
            <pep-group-buttons [buttons]="sizesGroupButtons" [selectedButtonKey]="columnsGap" buttonsClass="md regular" viewType="toggle" stretch="true" 
                (buttonClick)="setColumnsGap($event)"></pep-group-buttons>

            <!-- Rounded Corners -->
            <!-- <label class="body-xl bold ellipsis">{{'PAGE_MANAGER.ROUNDED_CORNERS_TITLE' | translate}}</label><br>
            <label class="body-sm ellipsis">{{'PAGE_MANAGER.BORDER_RADIUS_TITLE' | translate}}</label>
            <pep-group-buttons [buttons]="sizesGroupButtons" [selectedButtonKey]="roundedCorners" buttonsClass="ms regular" viewType="toggle"
                (buttonClick)="setRoundedCorners($event)"></pep-group-buttons> -->
        </div>
    </mat-tab>
</mat-tab-group>





