<div class="ng-component-container" >
    <pep-page-layout>
        <!-- <ng-container pep-top-area> 
            <pep-top-bar [inline]="true" [title]="hostObject?.slideshowConfig?.height">
                <div header-end-content class="pep-spacing-element"></div>
            </pep-top-bar>
        </ng-container> -->
        <ng-container pep-main-area>
            <div style="padding: 2rem;">
                <div>
                    <label class="body-sm ellipsis" *ngIf="hostObject?.slides[0].useTitle" [ngClass]="'size_'+hostObject?.slides[0].titleSize">{{hostObject?.slides[0].titleContent}}</label>
                </div>
                <div>
                    <label class="body-sm ellipsis" *ngIf="hostObject?.slides[0].useSubTitle" [ngClass]="'size_'+hostObject?.slides[0].subTitleSize">{{hostObject?.slides[0].subTitleContent}}</label>
                </div>
                <pep-button *ngIf="hostObject?.slides[0].firstButton.useButton" class="add-content-button" value="hostObject?.slides[0].firstButton.label" styleType="hostObject?.slides[0].firstButton.style" iconPosition="end"
                (buttonClick)="null"></pep-button>
            </div>

        </ng-container>
    </pep-page-layout> 




</div>


