@use '../../../mixins.scss';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';

:host {
    display: block;
    height: 100%;
}

.sections-container {
    width: 100%;
    max-width: inherit;
    overflow-x: unset;
    margin: 0 auto;
    position: relative;
    display: grid;
    height: inherit;

    @include mixins.gap-sizes();
    
    .draggable-section {
        display: block;
        // DI- 21762 - Hidden sections takes up space in the UI (AVNER)
        // Makes the container disappear, making the child elements children of the 
        // element the next level up in the DOM
        //display: contents;
    }

    &.preview-state{
        section{
            display: contents;
        }
    }
}

