@use '../../../mixins.scss';
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables';

:host {
    display: block;
    height: 100%;
}

.sections-container {
    width: 100%;
    max-width: inherit;
    overflow-x: unset;
    margin: 0 auto;
    position: relative;
    display: grid;
    height: inherit;

    // remove this class because of DI-21758. avner 23.11.22
    &.mobile {
        display: block;

        .margin-none { 
            margin-bottom: 0; /* none*/
        }
    
        .margin-sm {
            margin-bottom: variables.$spacing-sm; // 0.5rem
        }
    
        .margin-md {
            margin-bottom: variables.$spacing-lg; // 1rem
        }
    
        .margin-lg {
            margin-bottom: variables.$spacing-2xl; // 2rem
        }
    }

    @include mixins.gap-sizes();
    
    .draggable-section {
        display: block;
    }
}

