<mat-tab-group  #tabGroup class="editor-tabs" animationDuration="0ms">
    <mat-tab label="{{'SLIDESHOW.GENERAL' | translate}}">
        <label class="body-xs ellipsis">{{'SLIDESHOW.HEIGHTUNITS_TITLE' | translate}}</label>
                <pep-group-buttons [buttons]="HeightUnitsType" [selectedButtonKey]="hostObject?.slideshowConfig?.heightUnit" buttonsClass="md regular" viewType="toggle" stretch="true" (buttonClick)="onSlideshowFieldChange('heightUnit',$event)">
                </pep-group-buttons>

                <pep-textbox [value]="hostObject?.slideshowConfig?.height" [label]="'SLIDESHOW.HEIGHT' | translate" (valueChange)="onSlideshowFieldChange('height',$event)"></pep-textbox>
                
                <label class="body-xs ellipsis">{{'SLIDESHOW.INNERSPACING_TITLE' | translate}}</label>
                <pep-group-buttons [buttons]="InnerSpacing" [selectedButtonKey]="hostObject?.slideshowConfig?.innerSpacing" buttonsClass="md regular" viewType="toggle" stretch="true" (buttonClick)="onSlideshowFieldChange('innerSpacing',$event)">
                </pep-group-buttons>

                <pep-checkbox [value]="hostObject?.slideshowConfig?.isTransition" [label]="'SLIDESHOW.TRANSITION' | translate" [renderTitle]="false" (valueChange)="onSlideshowFieldChange('isTransition',$event)"></pep-checkbox>
                <label class="body-xs ellipsis">{{'SLIDESHOW.TRANSITION_TITLE' | translate}}</label>
                <pep-textbox [label]="'SLIDESHOW.SLIDE_DURATION' | translate" type="int" [disabled]="!hostObject?.slideshowConfig?.isTransition" 
                             [value]="hostObject?.slideshowConfig?.transitionDuration" (valueChange)="onSlideshowFieldChange('transitionDuration',$event)"></pep-textbox>
                
                <div class="split-area">
                    <pep-select [label]="'SLIDESHOW.TRANSITION_TYPE' | translate" [value]="hostObject?.slideshowConfig?.transitionType" [options]="transitionTypes" 
                        (valueChange)="onSlideshowFieldChange('transitionType',$event)" [emptyOption]="false" [disabled]="!hostObject?.slideshowConfig?.isTransition"></pep-select>
                    <pep-select [label]="'SLIDESHOW.TRANSITION_TIME' | translate" [value]="hostObject?.slideshowConfig?.transitionTime" [options]="transitionTimes"
                        (valueChange)="onSlideshowFieldChange('transitionTime',$event)" [emptyOption]="false" [disabled]="!hostObject?.slideshowConfig?.isTransition"></pep-select>
                </div>

                <pep-checkbox [value]="hostObject?.slideshowConfig?.isUseArrows" [label]="'SLIDESHOW.ARROWS' | translate" [renderTitle]="false" (valueChange)="onSlideshowFieldChange('isUseArrows',$event)"></pep-checkbox>
                <label class="body-xs" [innerHTML]="'SLIDESHOW.ARROWS_DESC' | translate"></label>
                
                <label class="body-xs ellipsis">{{'SLIDESHOW.ARROWS_TYPE' | translate}}</label>
                <pep-group-buttons [buttonsDisabled]="!hostObject?.slideshowConfig?.isUseArrows" [buttons]="ArrowsType" [selectedButtonKey]="hostObject?.slideshowConfig?.arrowType" buttonsClass="md regular" viewType="toggle" 
                                stretch="true" (buttonClick)="onSlideshowFieldChange('arrowType',$event)">
                </pep-group-buttons>

                <label class="body-xs ellipsis">{{'SLIDESHOW.ARROWS_BUTTONS' | translate}}</label>
                <pep-group-buttons [buttonsDisabled]="!hostObject?.slideshowConfig?.isUseArrows" [buttons]="ArrowButtons" [selectedButtonKey]="hostObject?.slideshowConfig?.arrowShape" buttonsClass="md regular" viewType="toggle" 
                                    stretch="true" (buttonClick)="onSlideshowFieldChange('arrowShape',$event)">
                </pep-group-buttons>

                <div class="split-area">
                    <pep-select [disabled]="!hostObject?.slideshowConfig?.isUseArrows" [label]="'SLIDESHOW.ARROWS_STYLE' | translate" [value]="hostObject?.slideshowConfig?.arrowsStyle" [options]="buttonStyles" 
                        (valueChange)="onSlideshowFieldChange('arrowsStyle',$event)" [emptyOption]="false"></pep-select>
                    <pep-select [disabled]="!hostObject?.slideshowConfig?.isUseArrows" [label]="'SLIDESHOW.ARROWS_COLOR' | translate" [value]="hostObject?.slideshowConfig?.arrowsColor" [options]="buttonStyles"
                        (valueChange)="onSlideshowFieldChange('arrowsColor',$event)" [emptyOption]="false"></pep-select>
                </div>

                <pep-checkbox [value]="hostObject?.slideshowConfig?.useControllers" [label]="'SLIDESHOW.CONTROLLERS' | translate" [renderTitle]="false" (valueChange)="onSlideshowFieldChange('useControllers',$event)"></pep-checkbox>
                <label class="body-xs" [innerHTML]="'SLIDESHOW.CONTROLLERS_DESC' | translate"></label>

                <pep-checkbox class="body-sm" [disabled]="!hostObject?.slideshowConfig?.useControllers" [value]="hostObject?.slideshowConfig?.usePauseButton" 
                              [label]="'SLIDESHOW.CONTROLLERS_PROPERTIES.PAUSE_PLAY' | translate" [renderTitle]="false" 
                              (valueChange)="onSlideshowFieldChange('usePauseButton',$event)"></pep-checkbox>
                <pep-checkbox class="body-sm" [disabled]="!hostObject?.slideshowConfig?.useControllers" [value]="hostObject?.slideshowConfig?.showOnMobile" 
                              [label]="'SLIDESHOW.CONTROLLERS_PROPERTIES.MOBILE' | translate" [renderTitle]="false" 
                              (valueChange)="onSlideshowFieldChange('showOnMobile',$event)"></pep-checkbox>
                <pep-checkbox class="body-sm" [disabled]="!hostObject?.slideshowConfig?.useControllers" [value]="hostObject?.slideshowConfig?.useInverStyle" 
                              [label]="'SLIDESHOW.CONTROLLERS_PROPERTIES.INVERT_STYLE' | translate" [renderTitle]="false" 
                              (valueChange)="onSlideshowFieldChange('useInverStyle',$event)"></pep-checkbox>
                <pep-checkbox class="body-sm" [disabled]="!hostObject?.slideshowConfig?.useControllers" [value]="hostObject?.slideshowConfig?.showControllersInSlider" 
                              [label]="'SLIDESHOW.CONTROLLERS_PROPERTIES.SHOW_CONTROLLERS' | translate" [renderTitle]="false" 
                              (valueChange)="onSlideshowFieldChange('showControllersInSlider',$event)"></pep-checkbox>
                
                <label class="body-xs ellipsis">{{'SLIDESHOW.CONTROLLER_SIZE' | translate}}</label>
                <pep-group-buttons [buttons]="ControllerSize" [selectedButtonKey]="'SM'" buttonsClass="md regular" 
                                   (buttonClick)="onSlideshowFieldChange('controllerSize',$event)" viewType="toggle" stretch="true">
                </pep-group-buttons>
    </mat-tab>
    <mat-tab label="{{'SLIDESHOW.CONTENT' | translate}}">
        <ng-container>
            <label class="body-xl bold ellipsis">{{'SLIDESHOW.SLIDES' | translate}}</label>
            <div #availableSlidesContainer id="availableSlides" class="available-slides">
                <slide-editor *ngFor="let currentSlide of hostObject?.slides;" class="available-slide"
                    [id]="currentSlide?.id" [showActions]="true" 
                    [isDraggable]="true" (editClick)='onSlideEditClick($event);' (removeClick)='onSlideRemoveClick($event);'
                    [hostObject]="hostObject">
                </slide-editor>
            </div>

            <pep-button class="add-content-button" value="{{'SLIDESHOW.ADD_SLIDE' | translate}}" styleType="regular" iconName="number_plus" iconPosition="end"
                    (buttonClick)="onAddNewSlideClick($event)"></pep-button>
        </ng-container>
    </mat-tab>
</mat-tab-group>