<pep-page-layout cdkDropListGroup>
        <ng-container pep-side-area *ngIf="showEditor">
            <pep-side-bar #pepSideBar>
                <div header-content>
                    Main
                </div>
                <page-builder-editor></page-builder-editor>
            </pep-side-bar>

        </ng-container>
        <ng-container pep-top-area>

        </ng-container>
        <ng-container pep-main-area>
                <router-outlet></router-outlet>
        </ng-container>
</pep-page-layout>

<pep-size-detector></pep-size-detector>
