// .main-area{
//         padding-top: 4.5rem;

// }

::ng-deep pep-side-bar {
    .side-layout{
        padding-inline-end: 0 !important;
        .header-content{
            .content{
                margin-inline-start: 0;
            }
        }
        .main-content{
            padding-top: 0rem;
            .content{
                margin: 0;
                .mat-tab-header{
                    width: unset;

                    .mat-tab-labels{
                        height: 3rem;
                    }
                }
            }
        }
    }
}

