::ng-deep pep-side-bar {
    .side-layout{
        padding-inline-end: 0 !important;

        .header-content{
            .content{
                margin-inline: 0;
            }
        }
        .main-content{
            padding-top: 0rem;
            .content{
                margin: 0;
                .mat-tab-header{
                    width: unset;

                    .mat-tab-labels{
                        height: 3rem;
                    }
                }

                .mat-tab-body{
                    pep-checkbox{
                        display: block;
                        min-height: unset;

                        pep-field-title{
                            display: none;
                        }
                        .pep-checkbox-container{
                            padding-inline: 0;
                            background-color: #fff;

                            label{
                                font-weight: 600;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .toggle-button{
        margin-inline: -1rem .25rem !important;
    }
}

