<div class="toolbar-actions-container">
    <div class="">
        <pep-button classNames="lock-events" sizeType="xs" iconName="system_move"></pep-button>
    </div>
    <div *ngIf="title !== ''" class="title-container">
        <span class="body-sm bold ellipsis title" title="{{title}}">{{title}}</span>
    </div>
    <div *ngIf="showActions" class="actions">
        <pep-button class="action" classNames="caution" sizeType="xs" iconName="system_bin" (buttonClick)="onRemoveClick();"></pep-button>
        <pep-menu class="action" sizeType="xs" iconName="system_view" ></pep-menu>
        <pep-button class="action" sizeType="xs" iconName="system_edit" (buttonClick)="onEditClick();"></pep-button>
    </div>
</div>