@import 'ngx-lib/src/core/style/abstracts/variables';

:host {
    display: block;
}

.toolbar-actions-container {
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $border-radius-md;
    overflow: hidden;
}

.start, .end {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

pep-button {
    display: inline-flex;
}
